/* you can add to or change this. */
h1{
  text-align: center;
}
#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.cards-list{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width:800px;
  margin: 0 auto;
}

.invisible {
  display: none;
}

